html{
    background-image: url("background\ image.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    background: rgba(255,255,255,0.75);
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    font-family: "raleway";
    padding: 20px;
    border-radius: 10px;
}
h1, p{
text-align: center;
margin: auto;
}
label{
    display: block;
    margin: 1em;
}
input, select{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 0.3em;
    background-color: brown;
    border: solid 1px #ccc;
    resize: vertical;
    border-radius: 10px;
}
input[type=checkbox], input[type=radio]{

    display: inline;
    width: auto;
}
.inline-label{
    display: inline;
    width: auto;
}
option{
    color: black;
    background-color: rgb(255, 255, 255);
}
select{
    color: indigo;
}